{
    "drivers": {
        "ec2-europe": {
            "id": "your-amazon-id",
            "key": "your-amazon-key"
        },
        "virtualbox": {
			"id": "placeholder",
			"key": "data"
        }
    }
}
